.sideNav {
  // border: 5px solid red;
  height: 100%;

  .sideNavList {
    font-size: 0px;
    padding: 0;
    .sideNavListItem {
        list-style-type: none;
        width:100%;
      .listItemButton {
        width:100%;
        text-align: left;
        justify-content: flex-start;

        .dot {
          height: 12px;
          width: 12px;
          border-radius: 50%;
          display: inline-block;
          margin-bottom: 2px;
          margin-right: 5px;
        }
        .buttonText{
            font-size: 14px;
        }
      }
    }
  }
}
